body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fcf0e4; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  .container1{
    width: 100%;
    height: 65px;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container1 .dropdown{
    padding-right: 50px;
  }

  .logo{
    display: flex;
    flex-direction: row;
    padding-right: 850px;
    align-items: center;
  }
  .logo a{
    text-decoration: none;

  }
  .logo img{
    width: 40px;
    height: 40px;
    padding-right: 20px;
  }

  .logo p{
    color: #FF7F3E;
    font-size: 1.3rem;
    font-family: 'Gill Sans MT';
  }
  
  .dropdown{
    display: inline-block;
    position: relative;
    }
    .dropdown button{
        font-size: 1rem;
        background: none;
        color: black;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .dropdown a{
        display: block;
        color: black;
        text-decoration: none;
        padding: 10px 15px;
    }
    .content{
        display: none;
        position: absolute;
        background-color: #EEF7FF;
        min-width: 100px;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
        z-index: 1000;
    }
    .dropdown:hover .content{
        display: block;
    }
    .dropdown:hover button{
        background-color: #CDE8E5;
    }
    .dropdown a:hover{
        background-color: #CDE8E5;
    }
    
    .login{
        background-color: #4D869C;
        padding: 9px 17px 9px 17px;
        border-radius: 5px;
    }

    .login a{
        text-decoration: none;
        color: white;
    }
    .login:hover{
        background-color: #7AB2B2;
        transition: 0.3s;
        cursor: pointer;
        color: black;
    }